:root {
    --back: rgb(99, 65, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--back);
    display: flex;
    justify-content: center;

    user-select: none;
}
main {
    text-align: center;
    margin-top: 10vh;
}

.subsquare {
    margin: 1vh 0px;

    display: flex;
    justify-content: center;
}
.square {
    background-color: black;

    height: 10vh;
    width: 10vh;
}

.squarecolor {
    background: black;
}

.fourSquares {
    display: flex;
    justify-content: center;
    background: var(--back) !important;
}

.fourSquares .square {
    margin: 0px 1vh;
    background: black;
}

.calculator {
    background: black;
    border-radius: 30px;

    margin: 1vh 10vh;
    padding: 2vh 0vh;
}

#calc_input {
    background: orange;
    border-radius: 3vh;
    border: 0px;

    outline: none;

    font-size: 2.6vh;
}

.menu {
    margin: 2vh 0vh;
}

button {
    background: orange;

    border: 0px;
    border-radius: 0.3vh;

    padding: 0vh 0.5vh;
}

button:hover {
    background: rgb(255, 186, 57);
    color: white;

    transition: 0.2s;
}

input {
    text-align: center;

    outline: none;

    border: 0.3vh solid orange;
    border-radius: 0.3vh;

    margin: 0.3vh 0vh;
}

.menu button {
    height: 2.5vh;
    width: 2.5vh;

    background: orange;

    border: 0px;
    border-radius: 3vh;

    font-size: 1.6vh;
}

.calc__button__res {
    background: white !important;
}

.calc__text {
    color: white;
    font-size: 2.4vh;
    margin-bottom: 1.2vh;
}
